/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Apr, 2019, 3:12:18 PM
    Author     : dgrfiv
*/


.wrapper .main {
    margin-left: 0px;
}

.pageBanner {
    font-size: 56px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.btnBox {
    text-align: center;
    display: block;
    padding: 10px 5px;
}
.showBtn {
    border-radius: 50%;
}
/*.showBtn:hover {
    background-color: #004080;
}*/
/*
.viewBtn {
    float: right;
    background-color: #004080;
}*/

.cmdLink {
    background-color: #006de5;
    display: block;
    text-align: center;
    padding: 30px 15px;
    border-radius: 8px;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in; 
}

.cmdLink:hover {
    background-color: #004080;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.cmdLink:focus {
    background-color: #087298;
}

.cmdLink .linkColor {
    color: white;
    font-size: 20pt;
}

.listTab {
}

.ui-datatable {
    text-align: center;
}

.ui-datatable thead th {
    color: #221F4B;
}

.ui-datatable tbody tr {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #DFDFDF;
    color: #221F4B;
    font-size: 14pt;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear; 
}

.ui-datatable tbody tr:hover {
    background-color: #004080;
    color: #FFFFFF;
    height: 120%;
}

.ui-datatable th.ui-state-default {
    color: white;
    text-align: center;
    font-size: 16px;
}

.anubadBox {
    background-color: #004080;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 18px;
}